    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }
    
    #root {
        display: inline-flex;
        padding: 2em 2em 2em 2em;
        align-content: center;
        width: 90%;
        flex-basis: auto;
        justify-content: space-between;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 3em;
        margin-top: 0.2em;
    }
    
    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 32%;
        /* border: 1em; */
        /* height: 30em; */
        /* padding: 2em 3em 3em 2em; */
        justify-content: space-between;
        display: block;
        /* margin: 1em 0em 1em 0em; */
        /* margin: 2em auto; */
        /* align-items: center; */
        margin-bottom: 1em;
        margin-top: 0em;
    }
    
    body {
        background-color: lightgray;
    }
    
    .div-block {
        background-color: white;
        padding: auto;
        /* height: 30em; */
        /* margin-top: 3em; */
    }
    
    p {
        /* width: 20em;
        height: 25em; */
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 3em;
    }
    
    #myInput {
        /* margin-top: 3em; */
        /* padding: 2em; */
        /* position: absolute; */
        height: 1.5em;
        width: 14em;
        margin-left: 50em;
        position: absolute;
    }
    
    h3 {
        border: 1px solid silver;
        border-radius: 5%;
        text-align: center;
        padding: 1em 0em 1em 0em;
        margin-bottom: 1em;
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        margin-bottom: 1em;
    }
    
    span {
        /* height: 1em; */
        margin-top: 0.4em;
        margin-left: 55em;
        position: absolute;
    }
    
    #div-header {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: row;
        width: 30%;
        /* border: 1em; */
        /* height: 30em; */
        /* padding: 2em 3em 3em 2em; */
        justify-content: space-between;
        display: block;
        /* margin: 1em 0em 1em 0em; */
        /* margin: 2em auto; */
        /* align-items: center; */
        margin-bottom: 0em;
        margin-top: 1em;
        margin-left: 5em;
    }
    
    select {
        margin-left: 23em;
        /* margin-top: 1em; */
        position: absolute;
        height: 2em;
    }
    
    #showId {
        margin-left: 0em;
        /* margin-top: 1em; */
        position: absolute;
        height: 2em;
    }